
		body{
			background-color:#f8f8ff;
			font-family:consolas;
			
	
		}
	
		table{
				border:5px solid saddlebrown;
				width:95%;
				color:black;
				outline:8px solid saddlebrown;
				font-family:consolas;
				margin:0 auto;
				padding:15px;
				background-color:khaki;
				word-spacing:normal;
				
		}


		header{
				overflow-x: hidden !important;
				background-color:khaki;
				font-family:impact;
				text-align:center;
				font-size:50px;
				color:black;
				color:brown;	
				border:8px double brown;
				outline:4px solid saddlebrown;
			
		}

		td{
			    border:9px double maroon;	
			    width:50%;
			    color:black;
			    font-weight: bold;
			    outline: 5px solid khaki;
			    font-size:18px;
			    font-family:consolas;
			    text-align:justify;
			    margin: 10px 20px 30px 350px;
			    padding:15px;
			    background-color:white;	
			    word-wrap: break-word;
				
		}

		th{
				color:white;
				font-family:consolas;
				font-size:25px;
				border: 5px double white; 
				padding:25px;
				background-color:maroon;
				outline: 5px solid maroon;
				
				
		}
		
		
		
		#A{
			   text-align:center;
			   text-decoration-style:double;
		}
		
		label textarea{
			    background-color:ivory;
				border:3px solid brown;
				font-family:MONOSPACE;
				font-size:17px;
				vertical-align:middle;
				outline:3px double maroon;
				
			
		}
		
		button{
				text-align:center;
				word-wrap: break-word;
				 display: block;
				width: 20%;
				margin:15px auto;
				height: 2em;
				font-size:1.3rem;
				font-family:arial red;	
				color:white;
				background-color:green;
			
		}
		p{
			
				text-align:center;
				background-color:linen;
				margin:0 auto 5 0;
				font-family:impact;
				font-size:30px;
				color:brown;
				outline:2px solid maroon;
				border:4px double brown;
			
		}
		form{
			 vertical-align: middle;
		}
		footer{
			background-color:#36454F;
		    width: 100%; float: middle;
		
		}
		
		#back{
			
				text-align:center;
				word-wrap: break-word;
				 display: block;
				width: 20%;
				margin:20px auto 233 23;
				height: 2em;
				font-size:1.3rem;
				font-family:arial red;	
				color:white;
				background-color:red;
				
				
		}
		tr{
			color:white;
				font-family:consolas;
				font-size:25px;
				border: 5px double white; 
				padding:25px;
				background-color:maroon;
				outline: 5px solid maroon;
				border-collapse: collapse;
			
		}
		.headertable{
			
				text-align:left;
				font-family:monospace;
				font-size:20px;
				font-weight:bold;
				background-color:maroon;	
					
		}
		.name{
				color:black;
				background-color:khaki;
				margin:0 auto;
				border:2px solid saddlebrown;
				font-family:monospace;
				font-weight:bold;
				font-size:25px;
				text-align:left;
				
				
		}
		.names{
				color:black;
				background-color:khaki;
				margin:0 auto;
				border:2px solid saddlebrown;
				font-family:monospace;
				font-weight:bold;
				font-size:25px;
				text-align:left;
				
				
		}
		.title{
				color:white;
				margin:0 auto;
				border:none;
				font-family:monospace;
				font-weight:bold;
				font-size:30px;
				text-align:left;
				background-color:maroon;
				text-align:center;
				margin:0 auto;
		}
	.exit{
		border:5px solid saddlebrown;
				width:95%;
				color:black;
				outline:8px solid saddlebrown;
				font-family:consolas;
				margin:0 auto;
				padding:15px;
				background-color:khaki;
				word-spacing:normal;
	}
	