
		body{
			background-color:#f8f8ff;
			font-family:consolas;
			
	
		}
	
		table{
				border:5px solid saddlebrown;
				width:80%;
				color:black;
				outline:8px solid saddlebrown;
				font-family:consolas;
				margin:0 auto;
				padding:15px;
				background-color:khaki;
				word-spacing:normal;
				
		}
		.logut{
				text-align:center;
				width: 13%;
				margin:20px auto;
				font-size:40px;
				font-family:impact;	
				color:white;
				background-color:red;
				outline:5px solid black;
			
			
		}
		


		header{
				overflow-x: hidden !important;
				background-color:khaki;
				font-family:impact;
				text-align:center;
				font-size:50px;
				color:black;
				color:brown;	
				border:8px double brown;
				outline:4px solid saddlebrown;
			
		}

		td{
			    border:9px double maroon;	
			    width:50%;
			    color:black;
			    font-weight: bold;
			    outline: 5px solid khaki;
			    font-size:30px;
			    font-family:consolas;
			    text-align:center;
			    margin: 10px 20px 30px 350px;
			    padding:15px;
			    background-color:white;	
			    word-wrap: break-word;
		}

		th{
				color:white;
				font-family:consolas;
				font-size:25px;
				border: 5px double white; 
				padding:25px;
				background-color:maroon;
				outline: 5px solid maroon;
			
		}
		
		
	
		}
		
		label textarea{
			    background-color:ivory;
				border:3px solid brown;
				font-family:MONOSPACE;
				font-size:17px;
				vertical-align:middle;
				outline:3px double maroon;	
				
			
		}
		
		button{
				text-align:center;
				word-wrap: break-word;
				 display: block;
				width: 20%;
				margin:15px auto;
				height: 2em;
				font-size:1.3rem;
				font-family:arial red;	
				color:white;
				background-color:green;
			
		}
		p{
			
				text-align:center;
				background-color:linen;
				margin:0 auto 5 0;
				font-family:impact;
				font-size:30px;
				color:brown;
				outline:2px solid maroon;
				border:4px double brown;
			
		}
		form{
			 vertical-align: middle;
		}
		
		
		a{
			
			background-color:white;
			font-size:40px;
			margin:0 auto;'
			text-align:center;
				
		}
		
		